* {
    margin: 0;
    padding: 0;
}

body  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 2, 94);
}

.Mycanva {
    margin: 30px;
    width: 70vw;
    height: 35vw;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 50px  rgb(51, 51, 228);
    transition: all 1s ease;
}
/*just for test , you can add this animetion after the ball touch the edge */
.test {
    
    box-shadow: 0 0 200px  rgb(51, 51, 228);
    transition: all 1s ease;
}


h1 {
    color: blueviolet;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: black;
}

img {
    width: 5vw;
    border-radius: 30vw;
}

#score {
    width: 5vw;
    height: 5vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score p {
    font-size: 6vw;
}



#players {
    color: rgb(142, 15, 226);
    background-color: blueviolet;
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer {
    background-color: black;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
